<div>
	<select ng-model="$ctrl.selection" ng-change="$ctrl.selectionChanged()">
		<option value="all" ng-cli>All</option>
		<option value="active">Active</option>
		<option value="inactive">Inactive</option>
	</select>

	<table class="table table-striped">
		<thead>
		<tr>
			<th>Username</th>
			<th>Status</th>
		</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in $ctrl.users">
				<td><a href="#!/users/{{user.username}}">{{user.username}}</a></td>
				<td>{{user.valid ? 'INACTIVE' : 'ACTIVE'}}</td>
			</tr>
		</tbody>
	  </table>

</div>
